{% extends 'pageLayout.html' %}

{% block childsHead %}
{% endblock childsHead %}

{% block childsPageTitle %}
	Products
{% endblock childsPageTitle %}

{% block childsMeta %}
{% endblock childsMeta %}

{% block childsContentTitle %}
	Products
{% endblock childsContentTitle %}

{% block childPageContent %}
	<p style="    color: blue;"> 
		The products in our database are:
	</p>
	<table>
		<tr>
			<th>
				ID
			</th>
			<th> 
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Cost
			</th>
		</tr>
		{% for product in productsQS %}
			<tr>
				<td>
					{{product.id}}
				</td>
				<td>
					{{product.name}}
				</td>
				<td>
					{{product.description}}
				</td>
				<td>
					{% if product.cost >= 200.00 %}
						{{product.cost}} flowers!!
					{% else %}
						{{product.cost}}
					{% endif %}					
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock childPageContent %}

{% block childsJavascript %}
{% endblock childsJavascript %}
